# ignore folders
.git
.cache
.ipynb_checkpoints
__pycache__
test_code
venv

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md

# ignore jupyter notbooks files
*.ipynb